{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <table border='1'>
        <thead>
        <tr>
            <th colspan="2">Liste des tâches</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.date |date('d-m-Y') }}</td>
                <td>
                    <a href="{{ path('app_task_edit', { id: task.id }) }}">Modifier</a>
                </td>
                <td>
                    <a href="{{ path('app_task_delete', { id: task.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

